


.buttonCallMe{

    border:2px solid #4166AE;
    background-color: #FFA900;
    
    // color: white;
    
    width: 60%;
    display: none;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 20px;
    font-size: 1.1em;


}





@media only screen and (min-width : 280px) and (max-width : 479px){
     
    

    .buttonCallMe{

        display: inline-block;
        height: 3em;
        line-height: 2.5em;
        animation: pulsate 1.2s linear infinite;
        a{
            color: white;
            i{transform: rotate(160deg);}
            text-decoration: none;

        }

    }
    

};

@media only screen and (min-width : 480px) and (max-width : 629px){



};

@media only screen and (min-width : 630px) and (max-width : 767px){

   
    
};
