


.telephoneBanner{

    display: none;

    background-color: #395ca3;
    height: 4em;
    color: bisque;
    width: 100%; 

    p{
        line-height: 2.5em;
        font-size: 1.5em;
        font-weight: bold;
    }
}





@media only screen and (min-width : 280px) and (max-width : 479px){
     
    .telephoneBanner{

        display: block;
    }
    
    

};

@media only screen and (min-width : 480px) and (max-width : 629px){

    .telephoneBanner{

        display: block;
    }


};

@media only screen and (min-width : 630px) and (max-width : 767px){

    .telephoneBanner{

        display: block;
    }
    
};
